--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: HistoryAction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."HistoryAction" AS ENUM (
    'CREATE',
    'UPDATE',
    'DELETE'
);


ALTER TYPE public."HistoryAction" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'IPQC',
    'OQC',
    'MASTER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: Shift; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Shift" AS ENUM (
    'S1',
    'S2',
    'S3'
);


ALTER TYPE public."Shift" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: DailyEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DailyEntry" (
    id text NOT NULL,
    "productId" text NOT NULL,
    date date NOT NULL,
    shift public."Shift" NOT NULL,
    plant text,
    line text,
    "beforeIpqc" integer DEFAULT 0 NOT NULL,
    "afterIpqc" integer DEFAULT 0 NOT NULL,
    "onGoingPostcured" integer DEFAULT 0 NOT NULL,
    "afterPostcured" integer DEFAULT 0 NOT NULL,
    "beforeOqc" integer DEFAULT 0 NOT NULL,
    "afterOqc" integer DEFAULT 0 NOT NULL,
    "onHoldOrReturn" integer DEFAULT 0 NOT NULL,
    "createdByUserId" text NOT NULL,
    "createdByRole" public."Role" NOT NULL,
    "updatedByUserId" text,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DailyEntry" OWNER TO postgres;

--
-- Name: EntryHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EntryHistory" (
    id text NOT NULL,
    "dailyEntryId" text,
    "productId" text,
    "productCode" text NOT NULL,
    "productName" text NOT NULL,
    date date NOT NULL,
    shift public."Shift" NOT NULL,
    action public."HistoryAction" NOT NULL,
    "byUserId" text NOT NULL,
    "byRole" public."Role" NOT NULL,
    note text,
    changes jsonb,
    snapshot jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EntryHistory" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "computerCode" text NOT NULL,
    name text NOT NULL,
    size text,
    description text,
    uom text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Data for Name: DailyEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DailyEntry" (id, "productId", date, shift, plant, line, "beforeIpqc", "afterIpqc", "onGoingPostcured", "afterPostcured", "beforeOqc", "afterOqc", "onHoldOrReturn", "createdByUserId", "createdByRole", "updatedByUserId", note, "createdAt", "updatedAt") FROM stdin;
d922c437-2e82-4937-a725-1c030046e109	7cd71c10-4766-4ccf-9822-1d765b6d413c	2025-10-23	S1	\N	\N	0	0	0	150	0	0	0	5c332556-75dd-4e33-a8b1-27e23b16cb1a	IPQC	\N	\N	2025-10-23 09:25:36.933	2025-10-23 09:25:36.933
\.


--
-- Data for Name: EntryHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, name, email, password, role, "isActive", "createdAt", "updatedAt") FROM stdin;
fb8b6411-5351-4462-848a-c63b0f89c770	ADMIN	admin@htm.com	$2b$12$YdgtLOk6tOO66g5D8eqRbuwcHYdzdXZgBChFI0wNPMfzg3ovHqqFG	ADMIN	t	2025-10-20 06:20:55.19	2025-10-20 06:20:11.214
5c332556-75dd-4e33-a8b1-27e23b16cb1a	IPQC	ipqc@htm.com	$2b$12$o5YFfQyZnG6Rq3EovMi.Ce5biX8y.uaYAY3Ntqb.JICiI7J7X6JzW	IPQC	t	2025-10-23 09:20:18.557	2025-10-23 09:19:40.416
\.


--
-- Name: DailyEntry DailyEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DailyEntry"
    ADD CONSTRAINT "DailyEntry_pkey" PRIMARY KEY (id);


--
-- Name: EntryHistory EntryHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EntryHistory"
    ADD CONSTRAINT "EntryHistory_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: DailyEntry_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DailyEntry_date_idx" ON public."DailyEntry" USING btree (date);


--
-- Name: DailyEntry_productId_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DailyEntry_productId_date_idx" ON public."DailyEntry" USING btree ("productId", date);


--
-- Name: DailyEntry_productId_date_plant_line_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DailyEntry_productId_date_plant_line_idx" ON public."DailyEntry" USING btree ("productId", date, plant, line);


--
-- Name: DailyEntry_productId_date_shift_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DailyEntry_productId_date_shift_idx" ON public."DailyEntry" USING btree ("productId", date, shift);


--
-- Name: DailyEntry_productId_date_shift_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DailyEntry_productId_date_shift_key" ON public."DailyEntry" USING btree ("productId", date, shift);


--
-- Name: EntryHistory_action_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EntryHistory_action_idx" ON public."EntryHistory" USING btree (action);


--
-- Name: EntryHistory_byUserId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EntryHistory_byUserId_createdAt_idx" ON public."EntryHistory" USING btree ("byUserId", "createdAt");


--
-- Name: EntryHistory_dailyEntryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EntryHistory_dailyEntryId_idx" ON public."EntryHistory" USING btree ("dailyEntryId");


--
-- Name: EntryHistory_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EntryHistory_date_idx" ON public."EntryHistory" USING btree (date);


--
-- Name: EntryHistory_productCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EntryHistory_productCode_idx" ON public."EntryHistory" USING btree ("productCode");


--
-- Name: EntryHistory_productId_date_shift_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EntryHistory_productId_date_shift_idx" ON public."EntryHistory" USING btree ("productId", date, shift);


--
-- Name: Product_computerCode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_computerCode_idx" ON public."Product" USING btree ("computerCode");


--
-- Name: Product_computerCode_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_computerCode_key" ON public."Product" USING btree ("computerCode");


--
-- Name: Product_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_isActive_idx" ON public."Product" USING btree ("isActive");


--
-- Name: Product_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Product_name_idx" ON public."Product" USING btree (name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: DailyEntry DailyEntry_createdByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DailyEntry"
    ADD CONSTRAINT "DailyEntry_createdByUserId_fkey" FOREIGN KEY ("createdByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DailyEntry DailyEntry_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DailyEntry"
    ADD CONSTRAINT "DailyEntry_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DailyEntry DailyEntry_updatedByUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DailyEntry"
    ADD CONSTRAINT "DailyEntry_updatedByUserId_fkey" FOREIGN KEY ("updatedByUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EntryHistory EntryHistory_byUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EntryHistory"
    ADD CONSTRAINT "EntryHistory_byUserId_fkey" FOREIGN KEY ("byUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EntryHistory EntryHistory_dailyEntryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EntryHistory"
    ADD CONSTRAINT "EntryHistory_dailyEntryId_fkey" FOREIGN KEY ("dailyEntryId") REFERENCES public."DailyEntry"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EntryHistory EntryHistory_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EntryHistory"
    ADD CONSTRAINT "EntryHistory_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

